body {
  padding: 10px;
  font-family: sans-serif;
}

div.form-container{
  margin: auto;
  padding: 20px;
  /*border: 1px solid #ff6600;*/
  border-radius: 5px;
  width: 500px;
  background-color: #f6f6f6;
}

.form-container form{
  width: 50%;
}

form .form-group{
  display: block;
  margin: 20px;
}

form .form-group label{
  display: block;
}

form .form-group .form-input{
  padding: 10px 15px;
  border: 1px solid #404040;
  width: 200px;
  margin: 10px 0;
}